.recipe-title:hover {
    cursor: pointer;
    background-color: rgba(100, 148, 237, 0.548);
}

.recipe-title {
    text-decoration: none;
    color: black;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .recipe-item {
    width: calc(33.33% - 3rem); 
    margin: 20px;
  }
  
  .recipe-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .recipe-info {
    flex: 1;
  }
  
  .recipe-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }